{% extends "D:/repo/geomedi/templates/index.html" %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% leaflet_js %}
{% leaflet_css %}

{% block content %}
 <div id="sidebar">
        <h1>leaflet-sidebar</h1>
</div>
<script type="text/javascript">
                    function ourfunction (map, options){
                        
                        //Marker with GeoJson
                        var name;
                        var id;
                        var laenge;
                        function onEachFeature(feature, layer) {
                        if (feature.properties && feature.properties.picture) {
                            image = feature.properties.picture;
                            layer.bindPopup('<img src="../static/map/images/marker_img/' + image + '_klein.JPG"/><p>' + '<h3>' + feature.properties.name + '</h3><br/></p><a href="#">more...</a>');
                            sidebar.setContent('<h3>' + feature.properties.name + '</h3><br/>' + '<img src="../static/map/images/' + image + '.JPG"/><br/><p>'+ '<h4>' + feature.properties.description + '</h4></p>');
                        }

                        //OnClick show Sidebar
                        layer.on('click', function (e) {
                            sidebar.toggle();
                        });

                        //OnClick hide Sidebar
                        map.on('click', function () {
                            sidebar.hide();
                        })
                    }

                        var controlLayers = L.control.layers().addTo(map);

                        //Add Marker
                        var ourdata = '{% url "data" %}';
                        
                        $.getJSON(ourdata, function(data){
                            var marker = L.geoJson(data,{onEachFeature: onEachFeature}).addTo(map);
                            controlLayers.addOverlay(marker, 'Marker');
                        })

                        //Add Polygon
                        var polydata = '{% url "poly" %}';
                        
                        $.getJSON(polydata, function(poly){
                            var polygone = L.geoJson(poly).addTo(map);
                            controlLayers.addOverlay(polygone, 'Polygone');
                        })
                        
                        //Routing
                        L.Routing.control({
                            //Startpunkte festlegen
                            waypoints: [
                                L.latLng(52.514, 13.350),
                                L.latLng(52.520, 13.409)
                            ],
                            //Lineoptions
                            lineOptions: {
                                styles: [
                                    {color: 'black', opacity: 0.3, weight: 11},
                                    {color: 'white', opacity: 0.9, weight: 9},
                                    {color: 'red', opacity: 1, weight: 3}
                                ]
                            },
                            //List collapse
                            collapsible: true,
                            //Geocoder
                            geocoder: true,
                            //show routing in beginning
                            show: false,

                        }).addTo(map);

                        //Init Sidebar
                        var sidebar = L.control.sidebar('sidebar', {
                            position: 'left',
                            closeButton: 'true'
                        });
                        //Start options: show/hide sidebar
                        setTimeout(function () {
                            sidebar.hide();
                        }, 500);

                        //Add content to sidebar
                        //sidebar.setContent('<b>' + test + '</b>');
                        map.addControl(sidebar);
                    }
                    //Sleep Map
                    map3 = L.map('map', {
                        // true by default, false if you want a wild map
                        sleep: true,
                        // time(ms) for the map to fall asleep upon mouseout
                        sleepTime: 750,
                        // time(ms) until map wakes on mouseover
                        wakeTime: 750,
                        // defines whether or not the user is prompted oh how to wake map
                        sleepNote: true,
                        // allows ability to override note styling
                        sleepNoteStyle: { color: 'red' },
                        // should hovering wake the map? (clicking always will)
                        hoverToWake: true,
                        // opacity (between 0 and 1) of inactive map
                        sleepOpacity: .7
                    })
</script>
{% leaflet_map "map" callback="window.ourfunction" %}
<div>
    <h1 style="color:white;">Some text to enable scrolling</h1>
    <h1 style="color:white;">Some text to enable scrolling</h1>
    <h1 style="color:white;">Some text to enable scrolling</h1>
    <h1 style="color:white;">Some text to enable scrolling</h1>
    <h1 style="color:white;">Some text to enable scrolling</h1>
</div> 
{% endblock %}