<head>
    <title>Fotos</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   <!-- WICHTIG FÜR RESPONSIVE SEITEN -->

    <!-- styles -->
    <link href="../static/map/style/mapstyle.css" rel="stylesheet">
</head>
<body>

<!-- todo: Add your path here -->
<!-- % extends "/home/urban/geomedi/geomedi/templates/index.html" %} -->
<!-- % extends "C:/Users/therrmann/Desktop/Eigene_Datei/Martin/Schule/Master/3._Semester_19.10/Interaktive_Geoemdiengestaltung/Projekt/geomedigeomedi/geomedi/templates/index.html" %} -->
{% extends "D:/repo/geomedi/geomedi/templates\index.html" %}

{% block content %}

    <div class="col-sm-4">
        <figure class="photo_list_box">
            <a href="https://www.flickr.com/photos/davdenic/15562053645/" target="_blank">
                <img src="../static/map/images/sights/berliner_dom_150_150_2.jpg" class="photo_list_view" alt="Alt">
            </a>
            <figcaption class="creativecommons photo_list_text_header">
                <p>Berliner Dom @ FOL 2014</p>
            </figcaption>
            <figcaption class="creativecommons photo_list_text_legal">
                <a class="creativecommons" target="_blank"
                   href="https://www.flickr.com/photos/davdenic/15562053645/">
                    Photo</a>
                <a class="creativecommons" target="_blank" href="https://www.flickr.com/photos/davdenic/">
                    by David Denicolò</a>
                <a class="creativecommons" target="_blank"
                   href="https://creativecommons.org/licenses/by-nc-nd/2.0/">
                   is licensed under CC BY-NC-ND 2.0</a>
            </figcaption>
        </figure>
    </div>

    <div class="col-sm-4">
        <figure class="photo_list_box">
            <a href="https://www.flickr.com/photos/davdenic/15562053645/" target="_blank">
                <img src="../static/map/images/sights/berliner_dom_150_150_2.jpg" class="photo_list_view" alt="Alt">
            </a>
            <figcaption class="creativecommons photo_list_text_header">
                <p>Berliner Dom @ FOL 2014</p>
            </figcaption>
            <figcaption class="creativecommons photo_list_text_legal">
                <a class="creativecommons" target="_blank"
                   href="https://www.flickr.com/photos/davdenic/15562053645/">
                    Photo</a>
                <a class="creativecommons" target="_blank" href="https://www.flickr.com/photos/davdenic/">
                    by David Denicolò</a>
                <a class="creativecommons" target="_blank"
                   href="https://creativecommons.org/licenses/by-nc-nd/2.0/">
                   is licensed under CC BY-NC-ND 2.0</a>
            </figcaption>
        </figure>
    </div>

    <div class="col-sm-4">
        <figure class="photo_list_box">
            <a href="https://www.flickr.com/photos/davdenic/15562053645/" target="_blank">
                <img src="../static/map/images/sights/berliner_dom_150_150_2.jpg" class="photo_list_view" alt="Alt">
            </a>
            <figcaption class="creativecommons photo_list_text_header">
                <p>Berliner Dom @ FOL 2014</p>
            </figcaption>
            <figcaption class="creativecommons photo_list_text_legal">
                <a class="creativecommons" target="_blank"
                   href="https://www.flickr.com/photos/davdenic/15562053645/">
                    Photo</a>
                <a class="creativecommons" target="_blank" href="https://www.flickr.com/photos/davdenic/">
                    by David Denicolò</a>
                <a class="creativecommons" target="_blank"
                   href="https://creativecommons.org/licenses/by-nc-nd/2.0/">
                   is licensed under CC BY-NC-ND 2.0</a>
            </figcaption>
        </figure>
    </div>

    <!--
    ##############
    2nd row
    ##############
    -->

    <div class="col-sm-4">
        <figure class="photo_list_box">
            <a href="https://www.flickr.com/photos/davdenic/15562053645/" target="_blank">
                <img src="../static/map/images/sights/berliner_dom_150_150_2.jpg" class="photo_list_view" alt="Alt">
            </a>
            <figcaption class="creativecommons photo_list_text_header">
                <p>Berliner Dom @ FOL 2014</p>
            </figcaption>
            <figcaption class="creativecommons photo_list_text_legal">
                <a class="creativecommons" target="_blank"
                   href="https://www.flickr.com/photos/davdenic/15562053645/">
                    Photo</a>
                <a class="creativecommons" target="_blank" href="https://www.flickr.com/photos/davdenic/">
                    by David Denicolò</a>
                <a class="creativecommons" target="_blank"
                   href="https://creativecommons.org/licenses/by-nc-nd/2.0/">
                   is licensed under CC BY-NC-ND 2.0</a>
            </figcaption>
        </figure>
    </div>

    <div class="col-sm-4">
        <figure class="photo_list_box">
            <a href="https://www.flickr.com/photos/davdenic/15562053645/" target="_blank">
                <img src="../static/map/images/sights/berliner_dom_150_150_2.jpg" class="photo_list_view" alt="Alt">
            </a>
            <figcaption class="creativecommons photo_list_text_header">
                <p>Berliner Dom @ FOL 2014</p>
            </figcaption>
            <figcaption class="creativecommons photo_list_text_legal">
                <a class="creativecommons" target="_blank"
                   href="https://www.flickr.com/photos/davdenic/15562053645/">
                    Photo</a>
                <a class="creativecommons" target="_blank" href="https://www.flickr.com/photos/davdenic/">
                    by David Denicolò</a>
                <a class="creativecommons" target="_blank"
                   href="https://creativecommons.org/licenses/by-nc-nd/2.0/">
                   is licensed under CC BY-NC-ND 2.0</a>
            </figcaption>
        </figure>
    </div>

    <div class="col-sm-4">
        <figure class="photo_list_box">
            <a href="https://www.flickr.com/photos/davdenic/15562053645/" target="_blank">
                <img src="../static/map/images/sights/berliner_dom_150_150_2.jpg" class="photo_list_view" alt="Alt">
            </a>
            <figcaption class="creativecommons photo_list_text_header">
                <p>Berliner Dom @ FOL 2014</p>
            </figcaption>
            <figcaption class="creativecommons photo_list_text_legal">
                <a class="creativecommons" target="_blank"
                   href="https://www.flickr.com/photos/davdenic/15562053645/">
                    Photo</a>
                <a class="creativecommons" target="_blank" href="https://www.flickr.com/photos/davdenic/">
                    by David Denicolò</a>
                <a class="creativecommons" target="_blank"
                   href="https://creativecommons.org/licenses/by-nc-nd/2.0/">
                   is licensed under CC BY-NC-ND 2.0</a>
            </figcaption>
        </figure>
    </div>

    <!--
    ##############
    3rd row
    ##############
    -->

    <div class="col-sm-4">
        <figure class="photo_list_box">
            <a href="https://www.flickr.com/photos/davdenic/15562053645/" target="_blank">
                <img src="../static/map/images/sights/berliner_dom_150_150_2.jpg" class="photo_list_view" alt="Alt">
            </a>
            <figcaption class="creativecommons photo_list_text_header">
                <p>Berliner Dom @ FOL 2014</p>
            </figcaption>
            <figcaption class="creativecommons photo_list_text_legal">
                <a class="creativecommons" target="_blank"
                   href="https://www.flickr.com/photos/davdenic/15562053645/">
                    Photo</a>
                <a class="creativecommons" target="_blank" href="https://www.flickr.com/photos/davdenic/">
                    by David Denicolò</a>
                <a class="creativecommons" target="_blank"
                   href="https://creativecommons.org/licenses/by-nc-nd/2.0/">
                   is licensed under CC BY-NC-ND 2.0</a>
            </figcaption>
        </figure>
    </div>

    <div class="col-sm-4">
        <figure class="photo_list_box">
            <a href="https://www.flickr.com/photos/davdenic/15562053645/" target="_blank">
                <img src="../static/map/images/sights/berliner_dom_150_150_2.jpg" class="photo_list_view" alt="Alt">
            </a>
            <figcaption class="creativecommons photo_list_text_header">
                <p>Berliner Dom @ FOL 2014</p>
            </figcaption>
            <figcaption class="creativecommons photo_list_text_legal">
                <a class="creativecommons" target="_blank"
                   href="https://www.flickr.com/photos/davdenic/15562053645/">
                    Photo</a>
                <a class="creativecommons" target="_blank" href="https://www.flickr.com/photos/davdenic/">
                    by David Denicolò</a>
                <a class="creativecommons" target="_blank"
                   href="https://creativecommons.org/licenses/by-nc-nd/2.0/">
                   is licensed under CC BY-NC-ND 2.0</a>
            </figcaption>
        </figure>
    </div>

    <div class="col-sm-4">
        <figure class="photo_list_box">
            <a href="https://www.flickr.com/photos/davdenic/15562053645/" target="_blank">
                <img src="../static/map/images/sights/berliner_dom_150_150_2.jpg" class="photo_list_view" alt="Alt">
            </a>
            <figcaption class="creativecommons photo_list_text_header">
                <p>Berliner Dom @ FOL 2014</p>
            </figcaption>
            <figcaption class="creativecommons photo_list_text_legal">
                <a class="creativecommons" target="_blank"
                   href="https://www.flickr.com/photos/davdenic/15562053645/">
                    Photo</a>
                <a class="creativecommons" target="_blank" href="https://www.flickr.com/photos/davdenic/">
                    by David Denicolò</a>
                <a class="creativecommons" target="_blank"
                   href="https://creativecommons.org/licenses/by-nc-nd/2.0/">
                   is licensed under CC BY-NC-ND 2.0</a>
            </figcaption>
        </figure>
    </div>



{% endblock %}
</body>