<link href="../static/map/style/mapstyle.css" rel="stylesheet">


{% extends "C:/Users/therrmann/Desktop/Eigene_Datei/Martin/Schule/Master/3._Semester_19.10/Interaktive_Geoemdiengestaltung/Projekt/geomedi/templates/index.html" %}

{% block content %}

    <div class="row_home">
        <div class="caption">
            <p class="header1">Festival of Lights Berlin 2018</p>
        </div>
        <div class="thumbnail_home">
            <figure>
                <img class="panorama_home" src="../static/map/images/other/panorama.jpg" alt="Alt">
                <a target="_blank"
                   href="https://www.flickr.com/photos/salomaonunes/4078996386/in/photolist-7drVvU-jdm2Gp-avZfjP-aw3S1H-7drVNJ-zQ1M6i-5uw71j-8RyfP4-8RBofA-dtcG5t-dtcGpD-5wbdoM-aBMMTW-8Hxocu-pQLK8Z-5xZcAq-pNG2Yf-dm6zJ1-dm6zSm-dm6vJz-q6yt4-7a1duk-rfeAG-8y3Q3Q-rfcPk-rfeBG-zntgdj-q6z3r">
                    <figcaption class="creativecommons">Salomao Nunes</figcaption>
                </a>
            </figure>
        </div>
    </div>


    <div>
    <!--
        <p class="text_home">
            Das Festival of Lights (englisch, ‚Lichterfest‘) ist eine internationale Veranstaltungsreihe und eingetragene Marke. Das Festival of Lights Berlin gehört zu den bekanntesten Lichtfestivals weltweit. Es ist ein kostenloser Event in Berlin, der jährlich im Oktober stattfindet und 10 Tage lang bekannte Berliner Sehenswürdigkeiten durch Illuminationen, Feuerwerk, lichtkünstlerische Projektionen und 3D-Mappings aufwändig in Szene setzt. Beleuchtet werden Bauwerke, Straßen und Plätze, so zum Beispiel das Brandenburger Tor, der Fernsehturm, der Berliner Dom oder die Siegessäule. Die erste Veranstaltung fand im Jahr 2004 statt.</p>
    -->
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://youtube.de/embed/KCEeuxJEk6c"></iframe>
    </div>
{% endblock %}