<head>
    <title>Impressum</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   <!-- WICHTIG FÜR RESPONSIVE SEITEN -->

    <!-- styles -->
    <link href="../static/map/style/mapstyle.css" rel="stylesheet">
    <link href="../static/map/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>

<!-- todo: Add your path here -->
{% extends "C:/Users/therrmann/Desktop/Eigene_Datei/Martin/Schule/Master/3._Semester_19.10/Interaktive_Geoemdiengestaltung/Projekt/geomedi/templates/index.html" %}
<!-- % extends "D:/repo/geomedi/templates\index.html" %} -->

{% block content %}

    <div class="caption_impressum">
        <p class="header1 impressum">Impressum</p>
        <div class="text_home">
            <p>Folgende Angaben sind Pflicht:
            <li>bei Personen mindestens ein ausgeschriebener Vorname sowie der Nachname</li>
            <li>Strasse, Hausnummer, Postleitzahl und Ort</li>
            </p>
        </div>
    </div>

{% endblock %}